{% block heptacom_admin_open_auth_url_clients %}
    <mt-card
        position-identifier="heptacom-admin-open-auth-user-profile-sso"
        :title="$tc('heptacom-admin-open-auth-url-clients.title')"
        :isLoading="heptacomAdminOpenAuthLoading"
    >
        {% block heptacom_admin_open_auth_url_clients_content %}
            <template #default>
                {% block heptacom_admin_open_auth_url_clients_cards %}
                    <sw-container rows="1fr">
                        <sw-card-section
                            v-for="client of heptacomAdminOpenAuthClients"
                            :key="client.id"
                            :slim="true"
                            divider="bottom"
                        >
                            {% block sw_profile_index_admin_open_auth_clients_cards_item %}
                                <sw-container columns="1fr auto">
                                    {% block sw_profile_index_admin_open_auth_clients_cards_item_provider %}
                                        <div>
                                            {{ client.name }}
                                        </div>
                                    {% endblock %}

                                    {% block sw_profile_index_admin_open_auth_clients_cards_item_action %}
                                    <template v-if="isMe">
                                        <mt-button
                                            v-if="client.connected"
                                            @click="revokeHeptacomAdminOpenAuthUserKey(client.id)"
                                            icon="regular-minus"
                                        >
                                            {{ $t('heptacom-admin-open-auth-url-clients.userKeys.actions.revoke') }}
                                        </mt-button>
                                        <mt-button
                                            v-else
                                            @click="redirectToLoginMask(client.id)"
                                            icon="regular-plus"
                                        >
                                            {{ $t('heptacom-admin-open-auth-url-clients.userKeys.actions.connect') }}
                                        </mt-button>
                                    </template>
                                    <template v-else>
                                        <template
                                            v-if="client.connected"
                                        >
                                            {{ $t('heptacom-admin-open-auth-url-clients.userKeys.states.connected') }}
                                        </template>
                                        <template
                                            v-else
                                        >
                                            {{ $t('heptacom-admin-open-auth-url-clients.userKeys.states.notConnected') }}
                                        </template>
                                    </template>
                                    {% endblock %}
                                </sw-container>
                            {% endblock %}
                        </sw-card-section>
                    </sw-container>
                {% endblock %}
            </template>
        {% endblock %}
    </mt-card>
{% endblock %}
